<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843873549631-3t9s5ac8toi7l4rjjg6hvpd7lajlvkhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843873549631-3t9s5ac8toi7l4rjjg6hvpd7lajlvkhv</string>
	<key>API_KEY</key>
	<string>AIzaSyDTl4ZESMuthX0skEKzyrLTur_5LwR7J2M</string>
	<key>GCM_SENDER_ID</key>
	<string>843873549631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hoangnm.FireBase001</string>
	<key>PROJECT_ID</key>
	<string>fir-001app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-001app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843873549631:ios:1c4849eda5cad589a0a78a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-001app.firebaseio.com</string>
</dict>
</plist>